 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Michroma&family=Prompt:wght@400;500;600;700;800;900&family=Roboto+Slab&family=Unbounded:wght@400;500;600;700;800&display=swap');

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Roboto, sans-serif;
}
h1{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar{
    width: 100vw;
    padding: 10px;
    padding-left:10px;
    padding-right: 20px;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img-dolar.jpg);
    background-size: cover;
    
}
#simulador{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #014b1aba;
    border: 5px solid #02b245;
}
input{
    width: 25vw;
    border: 3px solid #02b245;
}

select{ 
    width: 20vw;
    padding: 10px;
    outline: none;
    border: 5px solid #00fc3b;
    font-weight: 600;
}

#de #a{
    margin-top: 18px;
    list-style: none;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 1500px){
    input{
        width:35vw;

    }
    select{ 
        width: 25vw;
        padding: 5px;
    }
}

@media screen and (max-width: 600px){
    .simulador{
        width: 90vw;
        height: 90vh;
    }
    input{
        width: 60vw;
    }
    select{ 
        width: 30vw;
        padding: 10px;
    }
    
}

/* Buscador*/
.filtro{
    display: none;
}

#buscador{
width: 35vw;
}
.btn-btn {
    width: 35vw;
    height: 50px;
    text-transform: uppercase;
    background:#04963c;
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn-btn [type=submit]:hover{
    background-color: #00fc3b;
}

/* BANNER */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(121, 197, 167, 0.701);
    background-size: cover;
    background-position: center center;
    background-image: url("https://media.traveler.es/photos/6137759e6936668f30c3f542/master/pass/112126.jpg");
    }
    
    .banner-content {
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(45, 45, 45, 0.13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .banner-content .banner-titulo {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    font-size: 70px;
    text-align: center;
    color: #fff9f3;
    }
    
    /* .banner-content a {
    text-decoration: none;
    color: white;
    background-color: rgba(27, 134, 11, 0.864);
    padding: 20px;
    border-radius: 45px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    }
    
    .banner-content a:hover {
    background-color: #FFF8EA;
    color: #402E32;
    }
    
    .cafe {
    color: #ff9c4a;
    font-size: 90px;
    border-radius: 5px;
    } */
    @media screen and (max-width: 600px) {
    .banner-content .banner-titulo {
        font-size: 50px;
    }
    .cafe {
        font-size: 70px;
    }
    }


/*Portada*/
.blog-container-cover{
    width: 100%;
    height: 500px;
    position: relative;

    background-image: url(/assets/favicon\ \(12\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: #02b245;
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARD */

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}


.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    width: 10vw;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background: #35a66f;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input[type=button]:hover{

    background: #1bd0ca;

}

/* FORMULARIO */
.titulo_form{
    margin: auto;
    text-align: center;
    padding-top: 1rem;
    color: #06b649;
    
}
hr{
    height: 1px;
    margin: 100px;
    border: none;
    background-color: #000000;
}

#formulario {
    width: 100px;
    max-width: 100%;
    margin: auto;
    margin-top: 1rem;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;

        }
        
    form {
            text-align: center;
            width: 25vw;
            margin-top: 20px;
        }

    form input::placeholder{
        width: 90vh;
        margin: auto;
        padding: 50px;
        padding-top: 10rem;
        padding-bottom: 10rem;
        font-weight: 300;

        }

        form input[type=submit]{
            margin-top: 20px;
            background-color:#04963c;

        }
            
    form .btn-btn2 {
            width: 15vw;
            height: 40px;
            text-transform: uppercase;
            color:rgb(255, 255, 255);
            letter-spacing: 2px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

    .icons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        margin-bottom: 3rem;
    
    }
    .fas {
        font-size: 2.5em;  
        border-radius: 50%;
        padding: 40px;
    
    }
    .fa-plane {
        color: #2a96f3;
    }
    .fa-wallet {
        color: #773e01;
    }
    .fa-money-bill-wave-alt{
        color: #029759;
    }
    .container-data {
        display: flex;
        justify-content: space-around;
        margin-top: -1em;
    }
        
    .container-data h6 {
            text-align: center;
    }
        
    .red {
            color: #eb2308;
    }
        
    .green {
            color: #00a088;
    }

    @media screen and (max-width: 600px){
        .formulario  {
            width: 1000px;
            max-width: 100%;
            font-size: 20px;
        }
        form {
            text-align: center;
            width: 80vw;
            margin-top: 20px;
        }
        form input::placeholder {
            width: 100%;
            margin-top: 1rem;
            padding: 25px;
            padding-top: 1rem;
            padding-bottom: 1rem;
    
            }
            form .btn-btn2 {
                width: 30vw;
                height: 40px;
            }
        }
        @media screen and (max-width: 1500px){
                form .btn-btn2 {
                    width: 35vw;
                    height: 40px;
                }
            }

    
/* NEWSLETTER-FOOTER */
.form-newsletter {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    }
    
    .form-newsletter h3 {
    font-size: 30px;
    color:#161717;
    }
    
    .form-newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    }
    
    .form-newsletter form input[type=submit]:hover {
    display: block;
    background-color: #00fc3b;
    }
    
    .form-newsletter form input:first-child {
    margin-bottom: 30px;
    max-width: 400px;
    background-color: #efe6ff;
    padding: 10px;
    width: 100%;
    }
    
    .form-newsletter form input:last-child {
    margin-bottom: 25px;
    background-color: #02b245;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    }
    @media screen and (max-width: 600px){
    .form-newsletter h3 {
        font-size: 30px;
    }
    .form-newsletter form input:first-child {
        max-width: 500px;  
    }
    .form-newsletter form input[type=submit]{
        font-size: 18px;
    }
    }

/*AQUI COMIENZA EL FOOTER*/
footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("https://img.freepik.com/vector-gratis/fondo-abstracto-curva-verde_53876-99569.jpg?w=2000");
    background-size: cover;

}

#container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #5a5a5a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #5a5a5a;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.8;
    text-decoration: none;
}

.box__footer a .fab{
    font-size: 20px;
    text-decoration: none;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #333333;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #000000;
}












